/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    height: 100%;
}

@font-face {
    font-family: 'Anton';
    src: url('assets/fonts/Anton-Regular.ttf');
}
@font-face {
    font-family: 'CustomBoldFont';
    src: url('assets/fonts/OpenSansCondensed-Bold.ttf');
}

@font-face {
    font-family: 'CustomLightFont';
    src: url('assets/fonts/OpenSansCondensed-Light.ttf');
}